{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student | View </title>
</head>
<body>
    {% if has_permission_view_student %}
        {% for student in students %}
            <li>{{ student }}</li>
        {% endfor %}

        {% else %}
        <h1>Permission Denied</h1>
    {% endif %}


</body>
</html>